<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light nav-collapse-hide-child">
    <!-- Left navbar links -->
    <ul class="navbar-nav col-4">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown" id="helpDropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Besoin d'aide ?
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{path('logout')}}">Déconnexion</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item d-flex col-12 pointer">
                    <div class="col-10 p-0" id="DarkModeSwitchLabel">
                        Mode Sombre
                    </div>
                    <div class="p-0 pointer">
                        <div class="custom-control custom-switch pointer">
                            <input type="checkbox" class="custom-control-input pointer" id="DarkModeSwitch">
                            <label class="custom-control-label pointer" for="DarkModeSwitch"></label>
                        </div>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</nav>
<!-- /.navbar -->